In [1]:
import pandas as pd

In [2]:
import leganalise as leg

In [22]:
lotofacil = leg.analise()

In [23]:
lotofacil.coletar_dados()

Último concurso registrado: 3211
Número do Concurso: 3211
Data do Concurso: 03/10/2024
Concurso 3211 já registrado. Finalizando a coleta.
Nenhum sorteio novo foi coletado.

In [24]:
lotofacil.calcular_frequencia_amostra(21)

{25: 19,
 4: 17,
 12: 16,
 13: 15,
 19: 15,
 20: 15,
 3: 14,
 22: 14,
 2: 13,
 18: 13,
 23: 13,
 10: 13,
 24: 13,
 6: 13,
 1: 12,
 5: 12,
 21: 12,
 15: 11,
 17: 11,
 9: 11,
 16: 10,
 8: 10,
 11: 10,
 14: 7,
 7: 6}

In [25]:
lotofacil.calc_pares_trincas_quadras()

Cálculos realizados com sucesso!

In [30]:
lotofacil.trincas_df.head(100)

          Trinca  Frequência
0    (4, 24, 25)          12
1    (4, 19, 25)          12
2   (20, 24, 25)          11
3    (4, 12, 25)          11
4    (4, 20, 25)          11
..           ...         ...
95  (18, 19, 25)           8
96  (15, 22, 25)           8
97   (6, 12, 20)           8
98   (6, 12, 22)           8
99   (2, 20, 24)           8

[100 rows x 2 columns]

In [11]:
lotofacil.quadras_df

                 Quadra  Frequência
0      (10, 11, 20, 25)         432
1      (10, 14, 20, 25)         429
2      (10, 12, 20, 25)         424
3      (10, 13, 20, 25)         424
4       (9, 10, 14, 20)         423
...                 ...         ...
12645    (8, 9, 16, 24)         280
12646    (5, 6, 16, 17)         280
12647   (6, 16, 17, 23)         279
12648   (8, 15, 16, 17)         279
12649    (6, 7, 21, 23)         267

[12650 rows x 2 columns]